.EventList {
    padding-top: 60px;
    width: 90%;
    font-family: var(--my-font1), var(--my-font2), var(--my-font3), var(--my-font4);
    &__back {
        display: block;
        position: relative;
        left: 50px;
        width: fit-content;
        font-size: 25px;
        text-decoration: none;
        color: #aaa;
        &::before {
            content: "";
            display: inline-block;
            margin-right: 10px;
            height: 2px;
            width: 40px;
            vertical-align: middle;
            border-radius: 10px;
            background-color: #aaa;
        }
        &:hover {
            &::before {
                transition: 1s;
                content: "Back to";
                display: inline-block;
                margin-right: 10px;
                width: fit-content;
                height: fit-content;
                border-radius: 10px;
                vertical-align: 2px;
                background-color: #aaa;
                color:#fff;
                }
        }
    }
        &__title {
        margin-left: 5%;
        font-size: 40px;
        line-height: 2;
        }    
    &__contents {
        display: flex;
        align-items: center;
        width: 80%;
        margin: 30px auto;
        text-decoration: none;
        color: #444;
        }
    &__image {
        padding-right: 20px;
        width: 160px;
        vertical-align: middle;
    }
    &__article {
        width: 100%;
        word-wrap: break-word;
    }
}
@media screen and (max-width: 960px) {
    .EventList {
        width: 100vw;
        &::before {
            content: "";
            display: block;
            height: 10vh;
            width: 100vw;
        }
    }
}
@media screen and (max-width: 560px) {
    .EventList {
        &__contents {
            flex-direction: column;
        }
        &__image {
            margin-bottom: 15px;
        }
    }
}