.NewsArchive {
    padding-top: 60px;
    width: 90%;
    font-family: var(--my-font1), var(--my-font2), var(--my-font3), var(--my-font4);
    &__container {
        width: 80%;
        margin: 0 auto;
    }
    &__back {
        display: block;
        position: relative;
        right: 50px;
        font-size: 25px;
        text-decoration: none;
        color: #aaa;
        &::before {
            content: "";
            display: inline-block;
            margin-right: 10px;
            border-radius: 10px;
            height: 2px;
            width: 40px;
            vertical-align: middle;
            background-color: #aaa;
        }
        &:hover {
            &::before {
                transition: 1s;
                content: "Back to";
                display: inline-block;
                margin-right: 10px;
                border-radius: 10px;
                width: fit-content;
                height: fit-content;
                vertical-align: 2px;
                background-color: #aaa;
                color:#fff;
                }
        }
    }
    &__title {
        font-size: 60px;
        line-height: 2;
    }
    &__item {
        display: flex;
        padding: 0 0 60px 0;
        justify-content: center;
        align-items: center;
        &__img {
            width: 40%;
        }
        &__title {
            padding: 0 0 20px 0;
            font-size: 30px;
        }
        &__para {
            padding:0 0 20px 10px;
            font-size: 20px;
        }
        &__link {
            display: block;
            text-align: center;
            font-size: 25px;
        }
        &__childContainer {
            margin-left: 30px;
            height: fit-content;
        }
        &__link {
            text-decoration: none;
        }
    }
}
@media screen and (max-width: 960px) {
    .NewsArchive {
        width: 100vw;
        &::before {
            content: "";
            display: block;
            height: 10vh;
            width: 100vw;
        }
        &__container {
            width: 90%;
        }
        &__back {
            right: 0px;
        }
        &__title {
            font-size: 50px;
        }

    }
}
@media screen and (max-width: 560px) {
    .NewsArchive {
        &__title {
            font-size: 40px;
        }
        &__item {
            flex-direction: column;
            &__img {
                width: 80%;
            }
        }
    }
}