.About {
    width: 90%;
    transition-property: opacity transform;
    transition-duration: 2s;
    font-family: var(--my-font1), var(--my-font2), 
    var(--my-font3), var(--my-font4);
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 150px 0 100px;
        width: 95%;
    }
    &__introduction {
        white-space: nowrap;
        height: 40px;
        width: fit-content;
        &::before {
            content: "";
            display: inline-block;
            height: 2px;
            width: 40px;
            margin-right: 10px;
            border-radius: 1px;
            vertical-align: middle;
            background-color: black;
        }
    }
    &__copy {
        margin: 0 5%;
        font-size: 20px;
        font-weight: bold;
        writing-mode: vertical-lr;
        line-height: 2;
        letter-spacing: 10px;
    }
    &__title {
        font-size: 60px;
    }
    &__article {
        font-size: 18px;
    }
    &__link {
        display: block;
        text-align: center;
        margin: 30px 0;
        font-size: 18px;
        text-decoration: none;
        color:#aaa;
    }
}
@media screen and (max-width: 960px) {
    .About {
        width: 100vw;
        &__container {
            display: static;
            transform: none;
            flex-direction: column;
            margin:30px auto 0;
            height: fit-content;
        }
        &__introduction {
            margin-left: 10%;
        }
        &__copy {
            height: fit-content;
            margin: 0 auto;
            writing-mode: horizontal-tb;
        }
        &__title {
            white-space: normal;
        }
        &__link {
            position: static;
            margin: 30px 0;
        }
        &__childContainer {
            position: static;
            margin: 0 auto;
            width: 80%;
        }
    }
}