.About {
    width: 90%;
    height: 100vh;
    // background-color: yellowgreen;
    &__container {
        margin: 0 auto;
        font-family: var(--my-font1), var(--my-font2), 
        var(--my-font3), var(--my-font4);
        height: 70%;
        width: 95%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: row;
        justify-content: center;
        // background-color: purple;
    }
    &__introduction {
        white-space: nowrap;
        height: 40px;
        position: relative;
        top: 40%;
        transform: translateY(-5%);
        &::before {
            content: "";
            display: inline-block;
            height: 2px;
            width: 40px;
            margin-right: 10px;
            border-radius: 10%;
            vertical-align: middle;
            background-color: black;
        }
    }
    &__copy {
        font-weight: bold;
        writing-mode: vertical-lr;
        position: relative;
        top:40%;
        transform: translateY(-5%);
        height: 280px;
        margin: 0 5%;
        font-size: 20px;
        line-height: 2;
        letter-spacing: 10px;
    }
    &__title {
        display: table;
        // background-color: greenyellow;
        font-size: 60px;
        position: relative;
        top: 20%;
        white-space: nowrap;
    }
    &__article {
        display: table;
        // background-color: greenyellow;
        font-size: 18px;
        position: relative;
        top:30%;
    }
    &__link {
        // TODO リンクのエージェントスタイルの無効、編集。
        display: table;
        // background-color: greenyellow;
        font-size: 18px;
        position: relative;
        top:40%;
        padding-left: 80px;
        text-decoration: none;
        color:#aaa
    }
}
