@import url('https://fonts.googleapis.com/css2?family=Cantarell&family=Noto+Sans+JP&family=Public+Sans:wght@300&family=Sawarabi+Gothic&display=swap');
:root {
  --my-font1: "Cantarell", sans-serif;
  --my-font2: "Public Sans", sans-serif;
  --my-font3: "Noto Sans JP", sans-serif;
  --my-font4: "Sawarabi Gothic", sans-serif;
}
// reset css
html, body, div, h1, h2, h3, h4, h5, h6,
p, span, ol, ul, li, img, figure, a {
    margin: 0;
    padding: 0;
    border: 0;
}