.Header {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #AAA;
    color: #FFF;
    width: 10%;
}
.Header__site-name {
    margin: 0 auto;
    font-family: var(--my-font1),var(--my-font2);
    font-size: 25px;
    writing-mode: vertical-rl;
}
.Header__hamburger-button {
    display: block;
    margin: 0 auto;
    position: relative;
    > button {
        border: none;
    }
}
.Header__scrolldown {
    margin: auto;
    font-family: var(--my-font1);
    writing-mode: vertical-rl;
    margin-top: 100%;
}
