.Header {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    background-color: #AAA;
    color: #FFF;
    width: 10%;
    &__site-name {
        position: absolute;
        top: 5%;
        left:50%;
        transform:translateX(-50%) ;
        font-family: var(--my-font1),var(--my-font2);
        font-size: 45px;
        writing-mode: vertical-rl;
    }
    &__hamburger-button {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }
    &__scrolldown {
        font-family: var(--my-font1),var(--my-font2);
        writing-mode: vertical-rl;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
}
