.Header {
    position: fixed;
    top: 0;
    right: 0;
    width: 10%;
    height: 100vh;
    font-family: var(--my-font1),var(--my-font2);
    background-color: #AAA;
    color: #FFF;
    &__site-name {
        position: absolute;
        top: 5%;
        left:50%;
        transform:translateX(-50%) ;
        width: fit-content;
        writing-mode: vertical-rl;
        font-size: clamp(20px,6vh,55px);
    }
    &__hamburger-button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        text-align: center;
    }
    &__scrolldown {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        writing-mode: vertical-rl;
    }
}
@media screen and (max-width: 960px) {
    .Header {
        z-index: 100;
        height: 10vh;
        width: 100vw;
        &__site-name {
            transform: translateY(-50%);
            top: 50%;
            left: 20px;
            font-size: clamp(15px,50vw,35px);
            writing-mode: horizontal-tb;
        }
        &__hamburger-button {
            left: 90%;
        }
        &__scrolldown {
            display: none;
        }
    }
}