
.HeroContainer {
  height: 100vh;
  width: 90%;
  font-family: var(--my-font1), var(--my-font2);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  .current {
    opacity: 1;
  }
  &__womanTakingPictures {
    height: 100%;
		width: 90%;
		background-image: url("./images/designMaterial/background/WomanTakingPicture.webp");
		position: absolute;
		background-repeat: no-repeat;
	  	background-position: center center;
	  	background-size: cover;
		transition: opacity 2s;
		opacity: 0;
  }
  &__man1 {
    height: 100%;
		width: 90%;
		background-image: url("./images/designMaterial/background/ManBesideTheRiver1.webp");
		position: absolute;
		background-repeat: no-repeat;
	  	background-position: center center;
	  	background-size: cover;
		transition: opacity 2s;
		opacity: 0;
  }
  &__looking {
    height: 100%;
		width: 90%;
		background-image: url("./images/designMaterial/background/LookingAtWaterfront.webp");
		position: absolute;
		background-repeat: no-repeat;
	  	background-position: center center;
	  	background-size: cover;
		transition: opacity 2s;
		opacity: 0;
  }
  &__message {
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-30%);
    font-size: 40px;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 10px #0006;

  }
  &__corporateName {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 150px;
    color: white;
    text-align: center;
    text-shadow: 0px 0px 10px #0004;
  }
}
@media screen and (max-width: 960px) {
  .HeroContainer {
    width: 100%;
    &__womanTakingPictures {
      width: 100%;
    }
    &__man1 {
      width: 100%;
    }
    &__looking {
      width: 100%;
    }
    &__corporateName {
      font-size: 100px;
    }
    &__message {
      font-size: 35px;
    }
  }
}
@media screen and (max-width: 620px) {
  .HeroContainer {
    &__womanTakingPictures {
      background-position: 30% center;
    }
    &__corporateName {
      font-size: 60px;
    }
    &__message {
      font-size: 30px;
    }

  }
}