
.HeroContainer {
  background: url("./images/designMaterial/background/WomanTakingPicture.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 90%;
  &__message {
    font-family: var(--my-font1), var(--my-font2);
    font-size: 40px;
    color: white;
    text-align: center;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translateX(-50%) translateY(-30%);
  }
  &__corporateName {
    font-family: var(--my-font1), var(--my-font2);
    font-size: 150px;
    color: white;
    text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
@media screen and (max-width: 960px) {
  .HeroContainer {
    width: 100vw;
    &__corporateName {
      font-size: 100px;
    }
    &__message {
      font-size: 35px;
    }
  }
}
@media screen and (max-width: 620px) {
  .HeroContainer {
    background-position: 30% center;
    &__corporateName {
      font-size: 60px;
    }
    &__message {
      font-size: 30px;
    }

  }
}