.News {
    width: 90%;
    font-family: var(--my-font1), var(--my-font2), var(--my-font3), var(--my-font4);
    &__title {
        text-align: center;
        font-size: 60px;
        line-height: 4;
    }
    &__toArchive {
        display: block;
        position: absolute;
        right: 12%;
        transform: translateY(-60px);
        font-size: 30px;
        text-decoration: none;
    }
    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }
    &__item {
        margin: 15px 15px;
        padding: 15px 15px;
        border-radius: 3px;
        width: calc((1440px * 0.9 - 240px) / 3);
        text-decoration: none;
        color: #3b3b3b;
        transition: 0.8s;
        &:hover {
            & img {
                transform: scale(1.2);
            }
            background-color: #ccc;
            color: #000;
        }
        &__imgFrame {
            width: 100%;
            height: calc(((1440px * 0.9 - 240px) / 3) * 0.7);
            overflow: hidden;
        }
        &__img {
            width: 100%;
            height: calc(((1440px * 0.9 - 240px) / 3) * 0.7);
            object-fit: cover;
            transition: 0.8s;
        }
    }
}
@media screen and (max-width: 960px) {
    .News {
        width: 100vw;
    }
}
@media screen and (max-width: 822px) {
    .News {
        &__item {
            &__img {
                width: 100%;
                height: calc(80vw * 0.7);
                object-fit: cover;
            }
            width: 80%;
            margin: 10px 5px
        }
    }
}