.Services {
    width: 90%;
    font-family: var(--my-font1), var(--my-font2), var(--my-font3), var(--my-font4);
    &__title {
        // background-color: gold;
        font-size: 60px;
        line-height: 2;
        text-align: center;
    }
    &__image {
        display: block;
        width: 75%;
        margin: 0 auto;
    }
    &__container {
        // background-color: greenyellow;
        width: 95%;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    &__navlist {
        font-size: 20px;
        color: #333;
        list-style: none;
        white-space: nowrap;
        // background-color: rgb(118, 205, 255);
        margin:0 auto;
        padding: 10px 0;
        line-height: 2;
        &__link {
            text-decoration: none;
            color: #000;
            display: inline-block;
            width: 100%;
            border-radius: 10px;
            &:hover {
                transition: 0.5s;
                background-color: #aaa;
                color: #fff;
            }
        }

        & > li::before {
            width:  8px;               /* 幅指定 */
            height:  8px;              /* 高さ指定 */
            display:  inline-block;     /* インラインブロックにする */
            background-color: #fff;  /* 背景色指定 */
            border: 1px solid ;
            margin-right: 5px;
            content:  "";     /* 空の要素作成 */
            }
        & ul > li {
            list-style: none;
            cursor: pointer;
            border-radius: 10px;
            &::before {
                content:  "";     /* 空の要素作成 */
                width:  8px;               /* 幅指定 */
                height:  8px;              /* 高さ指定 */
                display:  inline-block;     /* インラインブロックにする */
                background-color: #aaa;  /* 背景色指定 */
                margin: 0 5px 0 10px;
                vertical-align: middle;
            }
            &:hover {
                transition: 0.5s;
                // background-color: rgb(202, 250, 250);
                background-color: #aaa;
                color:#fff
            }
        }
    }
    &__contents {
        // background-color: indianred;
        width: 70%;
    }
    &__name {
        text-align: center;
        font-size: 30px;
        }
    &__sub {
        text-align: center;
        font-size: 20px;
        line-height: 3;
    }
    &__para {
        font-size: 18px;
    }
    &__andmore {
        font-size: 18px;
        line-height: 8;
        display: block;
        text-align: center;
        text-decoration: none;
        color:#aaa
    }
    &__default {
        height: fit-content;
        margin: "auto 0";
        padding: "0 5%";
        width: "60%";
        font-size: 30px;
        color: #929292;
        border: solid 3px #929292;
        border-radius: 10px;
        &__mobile {
            height: fit-content;
            margin: "auto 0";
            padding: "0 5%";
            width: "60%";
            font-size: 30px;
            color: #929292;
            border: solid 3px #929292;
            border-radius: 10px;    
            display: none;
        }
    }
}
@media screen and (max-width: 960px) {
    .Services {
        width: 100vw;
        &::before {
            display: block;
            height: 80px;
            width: 100vw;
            content: "";
        }
        &__container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        &__childContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }
        &__navlist {
            width: calc(960px * 0.8 / 3);
            padding: 5% 1em;
            // background-color: turquoise;
            white-space: pre-wrap;
            text-indent: -1em;
            // width: 25%;
            line-height: 1.5;
            &__link {
                text-indent: 0.5em;
            }
        }
        &__contents {
            width: 100%;
        }
        &__default {
            width: 100%;
            margin-bottom: 40px;
            display: none;
            &__mobile {
                display: block;
                margin-bottom: 60px;
            }
        }
    }
}
@media screen and (max-width:300px) {
    .Services {
        &__title {
            font-size: 50px;
        }
        &__navlist {
            font-size: 15px;
        }
    }
}