.Services {
    width: 90%;
    font-family: var(--my-font1), var(--my-font2), var(--my-font3), var(--my-font4);
    &__chip {
        display: none;
    }
    &__title {
        text-align: center;
        font-size: 60px;
        line-height: 2;
    }
    &__image {
        display: block;
        margin: 0 auto;
        width: 75%;
    }
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 95%;
    }
    &__navlist {
        margin:0 auto;
        padding: 10px 0;
        list-style: none;
        font-size: 20px;
        white-space: nowrap;
        line-height: 2;
        color: #333;
        &__link {
            display: inline-block;
            width: 100%;
            border-radius: 10px;
            text-decoration: none;
            color: #000;
            &:hover {
                transition: 0.5s;
                background-color: #aaa;
                color: #fff;
            }
        }

        & > li::before {
            display:  inline-block;
            margin-right: 5px;
            border: 1px solid ;
            width:  8px;
            height:  8px;
            background-color: #fff;
            content:  "";
            }
        & ul > li {
            list-style: none;
            cursor: pointer;
            border-radius: 10px;
            &::before {
                display:  inline-block;
                margin: 0 5px 0 10px;
                vertical-align: middle;
                width:  8px;
                height:  8px;
                content:  "";
                background-color: #aaa;
            }
            &:hover {
                transition: 0.5s;
                background-color: #aaa;
                color:#fff
            }
        }
    }
    &__contents {
        width: 70%;
    }
    &__name {
        text-align: center;
        font-size: 30px;
        }
    &__sub {
        text-align: center;
        font-size: 20px;
        line-height: 3;
    }
    &__para {
        font-size: 18px;
    }
    &__andmore {
        display: block;
        text-align: center;
        font-size: 18px;
        line-height: 8;
        text-decoration: none;
        color:#aaa
    }
    &__default {
        padding: 0 5%;
        width: 60%;
        border-radius: 10px;
        border: solid 3px #929292;
        height: fit-content;
        margin: auto 0;
        font-size: 30px;
        color: #929292;
        background-color: #fffeb1;
        &__mobile {
            display: none;
            margin: auto 0;
            padding: 0 5%;
            border: solid 3px #929292;
            border-radius: 10px;    
            height: fit-content;
            width: 60%;
            font-size: 30px;
            color: #929292;
            background-color: #fffeb1;
        }
    }
}
@media screen and (max-width: 960px) {
    .Services {
        width: 100vw;
        &__contents {
            padding-top: 30px;
        }
        &__container {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            overflow-x: scroll;

        }
        &__chip {
            display: block;
            overflow-x: scroll;
            border-top: solid 2px #aaa;
            border-bottom: solid  2px #aaa;
            background-color: #c1ffb1;
            font-size: 16px;
            white-space: nowrap;
            > span {
                display: inline-block;
                margin: 5px;
                padding: 2px;
            }
            &__red {
                color: #333;
                border:solid 1px #af7878;
                border-radius: 20px;
                background-color: #ffb1b1;
            }
            &__blue {
                color: #333;
                border:solid 1px #5f6586;
                border-radius: 20px;
                background-color: #b1bdff;
            }
            &__purple {
                color: #333;
                border:solid 1px #88658f;
                border-radius: 20px;
                background-color: #f2b1ff;
            }
        }
        &__childContainer {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            display: none;
        }
        &__navlist {
            width: calc(960px * 0.8 / 3);
            padding: 5% 1em;
            white-space: pre-wrap;
            text-indent: -1em;
            line-height: 1.5;
            &__cloudApp {
                display: none;
            }
            &__ICT {
                display: none;
            }
            &__link {
                text-indent: 0.5em;
            }
        }
        &__contents {
            width: 100%;
        }
        &__default {
            width: 100%;
            margin-bottom: 40px;
            display: none;
            &__mobile {
                display: block;
                margin: 30px 0 60px;
            }
        }
    }
}
@media screen and (max-width:300px) {
    .Services {
        &__title {
            font-size: 50px;
        }
        &__navlist {
            font-size: 15px;
        }
    }
}