
.heroImage {
  width: 90vw;
}

Top__hero-container {
  position: relative;
}
.Top__icon {
  margin: 0;
  padding: 0;
  background-color: rgb(119, 182, 119);
  position: absolute;
  top: 30%;
  left: 45%;
  transform: translate(-50%,-50%);
  color: white;
  h2 {
    white-space: nowrap;
    font-family: var(--my-font1);
    font-weight: 100;
    font-size: 40px;
  }
  h1 {
    white-space: nowrap;
    font-family: var(--my-font1);
    font-weight: 100;
    font-size: 150px;
  }
}